[submodule "lib/theme"]
	path = lib/theme
	url = https://github.com/packadic/theme
	branch = master
[submodule "build/tools"]
	path = build/tools
	url = https://github.com/laradic/php-build-tools
	branch = master
[submodule "lib/laravel"]
	path = lib/laravel
	url = https://github.com/laravel/framework
	branch = 5.0
[submodule "lib/bash"]
	path = lib/bash
	url = https://github.com/robinradic/radic-bash-lib
	branch = master
